<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mszlu.mapper.AdminMapper">
    <!--使用insert，updata，delete，select等标签写sql语句-->

    <select id="findPermissionByAdminId" resultType="com.mszlu.entity.Permission">
        select * from ms_permission where id in
        (select  permission_id from ms_admin_permission
        where admin_id=#{id}
        )
    </select>
</mapper>